# requirements.txt

# GUI Framework (Tkinter)
customtkinter

# Application permissions
pyuac

# Cryptography (for file encryption/decryption)
cryptography

# Antivirus-related libraries
pyclamd
pywin32

#Typography
Pillow
